<#@ template language="C#" hostspecific="false"#>
<#@ output extension=".cs" #>
<#@ assembly name="$(nucleotideToolsFolder)\Dhgms.Nucleotide.dll" #>
<#@ assembly name="$(nucleotideToolsFolder)\Dhgms.DataManager.CodeGeneration.dll" #>
<#

    var cgp = new Dhgms.DataManager.CodeGeneration.Model.CommandLineSettings();

    var difference = new Dhgms.Nucleotide.Model.Helper.Difference();
#><#=difference.Generate(cgp)#>