<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="applicationSettings" requirePermission="false" type="Dhgms.DataManager.Mocking.Model.ConfigurationLoader.MockXmlAppConfigBasedConfiguration, Dhgms.DataManager.Mocking" allowDefinition="MachineToApplication" />
    <section name="providerProxyBaseMocking" requirePermission="false" type="Dhgms.DataManager.Tests.Model.Provider.ProviderSectionMocking, Dhgms.DataManager.Tests" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings One="1" Two="2" />
  <providerProxyBaseMocking defaultProvider="Mocking Provider">
    <providers>
      <add name="Mocking Provider" type="Dhgms.DataManager.Tests.Model.Provider.ProviderClassMocking, Dhgms.DataManager.Tests" />
    </providers>
  </providerProxyBaseMocking>
</configuration>