<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="Dhgms.Nucleotide" #>
<#

Dhgms.Nucleotide.Model.Info.PropertyInfo.Base[] properties = new Dhgms.Nucleotide.Model.Info.PropertyInfo.Base[]
{
	new Dhgms.Nucleotide.Model.Info.PropertyInfo.ClrBoolean(
		Dhgms.Nucleotide.Model.Info.CollectionType.None,
		"WantsHelp",
		"a value indicating whether the user wants the help info displayed",
		false,
		false,
		null
		)
};

Dhgms.Nucleotide.Model.Helper.Information information = new Dhgms.Nucleotide.Model.Helper.Information();
Dhgms.Nucleotide.Model.Helper.Difference difference = new Dhgms.Nucleotide.Model.Helper.Difference();

String mainNamespaceName = "Dhgms.DataManager";
String subNamespace = "CommandLineSettings";
String className = "Base";
String classDescription = "Represents the base command line settings";
String baseClassName = null;
Dhgms.Nucleotide.Model.Info.PropertyInfo.Base[] baseClassProperties = null;
#>
// --------------------------------------------------------------------------------------------------------------------
// <copyright company="DHGMS Solutions" file="Base.cs">
//   2004-2012 DHGMS Solutions. Some Rights Reserved. Licensed under GNU General Public License version 2 (GPLv2)
// </copyright>
// <summary>
//   
// </summary>
// --------------------------------------------------------------------------------------------------------------------

<#=information.Generate(
	mainNamespaceName,
	subNamespace,
	className,
	classDescription,
	properties,
	baseClassName,
	baseClassProperties
	)
#>
<#=difference.Generate(
	mainNamespaceName,
	subNamespace,
	className,
	classDescription,
	properties,
	baseClassName,
	baseClassProperties
	)
#>
